#rectangle {
    width:80%;
    height:25px;
    background:#2ECC71;
    float: left;
}
#rectangle2 {
    width:20%;
    height:25px;
    background:#2980B9;
    float:right;
}
#rectangle3 {
    width:33%;
    height:100px;
    background:#E74C3C;
    float: left;
}
#rectangle4 {
    width:33%;
    height:50px;
    background:#E67E22;
    float:left;
}
#rectangle5 {
    width:34%;
    height:50px;
    background:#95A5A6;
    float: left;
}
#rectangle6 {
    width:22%;
    height:50px;
    background:#F39C12;
    float: right;
}
#rectangle7 {
    width:22%;
    height:50px;
    background:#16A085;
    float: left;
}
#rectangle8 {
    width:23%;
    height:50px;
    background:#D35400;
    float: left;
}
#rectangle9 {
    width:100%;
    height:125px;
    background:#2C3E50;
    float: left;
}
